.form {
    width: 450px;
    height: 100px;
    margin: 0 auto;
}
.category {
    margin: 10px 0;
}
.formInput {
    width: 450px;
    margin: 10px auto;
}
input,
textarea {
    width: 420px;
    margin: 10px 0;
    padding: 5px;
}
textarea {
    height: 100px;
    resize: none;
}
select {
    width: 434px;
    padding: 5px;
    margin: 10px 0;
}
