.category {
    float: left;
    display: block;
    color: #000;
}
.quote {
    width: 500px;
    float: right;
    border: 1px solid black;
    margin: 20px 100px 0 0;
    padding: 20px 40px;
    border-radius: 5px;
    position: relative;
}
.text {
    margin: 15px;
    width: 400px;
}
.author {
    margin: 15px;
}