.header {
    background: #58ffff;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}
.navlink:first-child {
    float: left;
    text-transform: uppercase;
}
.navlink {
    float: right;
    padding: 10px 20px;
    color: #000;
}